version: "3.9"

services:
  python:
    build:
      context: .
      dockerfile: infra/docker/python/Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: tail -f /dev/null

  streamlit:
    build:
      context: .
      dockerfile: infra/docker/python/Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    environment:
      PYTHONPATH: /app
    ports:
      - "8501:8501"
    command: >
      streamlit run src/command/run_streamlit.py
      --server.port=8501
      --server.address=0.0.0.0
      --server.headless=true
